<div class="p-5 pe-4 bg-light">
    <div class="ps-1">
        <div class="card border border-light ">
            <div class="card-body text-muted" style="font-size: small;">
                <div class="pt-2 ps-2 ">
                    <div class="row">
                        <div class="col-12 col-md-11">
                            <div class="row">
                                <div class="bg-primary rounded-1 border p-2 ps-3 text-light">
                                    <!-- 4. ESTUDIANTES CON NECESIDADES EDUCATIVAS ESPECÍFICAS -->
                                    <span class="me-3">4. ESTUDIANTES CON NECESIDADES EDUCATIVAS ESPECÍFICAS</span>
                                    <i class="bi bi-info-circle"></i>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="d-flex gap-2 ps-0 pe-0">
                                    <div class="border border-1 rounded-1 p-2 ps-3 flex-fill">
                                        <b class=""> E-studiante NEE: </b>
                                        <span>Altamirano tapia Andrea</span>
                                    </div>
                                    <div class="border border-1 rounded-1 p-2 ps-3 flex-fill">
                                        <b>Grado de adaptación: </b>
                                        <span>Grado 1</span>
                                    </div>
                                    <div class="border border-1 rounded-1 p-2 ps-3 flex-fill me-0">
                                        <b>NEE: </b>
                                        <span>Dificultades de aprendizaje: Disléxica</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-1 text-center ">
                            <i class="bi bi-chat-dots text-black-50  fs-5"></i>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-11">
                            <div class="row mt-2">
                                <div class="col-12 col-md-3 ps-0 pe-1">
                                    <div
                                        class="bg-primary bg-gradient bg-opacity-10 p-2 rounded-1 align-items-center justify-content-center d-flex h-25">
                                        <b class="me-3">Destrezas con criterios de desempeño</b>
                                        <i class="bi bi-info-circle fs-5 text-primary"></i>
                                    </div>
                                    <div class="border border-2 rounded-1 border-light p-3 d-flex flex-column justify-content-center "
                                        style="min-height: 215px;">
                                        <p>Reconocer y diferenciar triangulos sus elementos
                                            a partir del analisis de sis caracteristicas, y
                                            determinar el Perimetro por estimacion y/o medicion <b>M.2.2.6</b>
                                        </p>
                                        <div class="d-flex gap-2">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c1.png"
                                                alt="" width="25">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c2.png"
                                                alt="" width="25">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 ps-0 pe-1">
                                    <div
                                        class="bg-primary bg-gradient bg-opacity-10 p-2 rounded-1 align-items-center justify-content-center d-flex h-25">
                                        <b class="me-3">Indicadores de evaluación</b>
                                        <i class="bi bi-info-circle fs-5 text-primary"></i>
                                    </div>
                                    <div class="border border-2 rounded-1 border-light p-3  d-flex flex-column justify-content-center"
                                        style="min-height: 215px;">
                                        <p>Identifica elementos básicos de la Geometría en cuerpos
                                            y figuras geométricas <b>(l.2., S.2.)</b>
                                        </p>
                                        <div class="d-flex gap-2">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c1.png"
                                                alt="" width="25">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c2.png"
                                                alt="" width="25">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c3.png"
                                                alt="" width="25">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c4.png"
                                                alt="" width="25">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 ps-0 pe-1">
                                    <div
                                        class="bg-primary bg-gradient bg-opacity-10 p-3  ps-4 pe-4 rounded-1 align-items-center justify-content-center d-flex h-25">
                                        <b class="me-3">Estrategias metodológicas activas para la enseñanza y
                                            aprendizaje</b>
                                        <i class="bi bi-info-circle fs-5 text-primary"></i>
                                    </div>
                                    <div class="border border-3 rounded-1 border-light p-3  d-flex flex-column justify-content-center"
                                        style="min-height: 215px;">
                                        <b>Construcción</b>
                                        <p>Plantear otros ejemplos y responder preguntas para descubrir
                                            el patrón que forma cada secuencia.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 ps-0 pe-1">
                                    <div class="bg-primary bg-gradient bg-opacity-10 p-3  ps-4 pe-4 rounded-1 align-items-center justify-content-center d-flex "
                                        style="min-height: 100px;">
                                        <b class="me-3">Estrategias metodológicas activas para la enseñanza y
                                            aprendizaje</b>
                                        <i class="bi bi-info-circle fs-5 text-primary"></i>
                                    </div>
                                    <div
                                        class="border border-3 rounded-1 border-light p-3  d-flex flex-column justify-content-center">
                                        <div>
                                            <b>Técnica Observación/ Rúbrica</b>
                                            <p>La presentación de la parte de Matemática tiene un promedio de 10,00 pt
                                            </p>
                                        </div>
                                        <div class="d-flex flex-column ">
                                            <div class="d-flex mb-1">
                                                <i class="bi bi-file-earmark bg-primary text-white p-1 rounded-1 "></i>
                                                <span
                                                    class="bg-light flex-fill d-flex align-items-center ms-1 text-primary">
                                                    Archivo adjun...</span>
                                                <i
                                                    class="bi bi-download p-1 border border-1 rounded-1 d-flex align-items-center"></i>
                                            </div>
                                            <div class="d-flex">
                                                <i class="bi bi-file-earmark bg-primary text-white p-1 rounded-1 "></i>
                                                <span
                                                    class="bg-light flex-fill d-flex align-items-center ms-1 text-primary">
                                                    Archivo adjun...</span>
                                                <i
                                                    class="bi bi-download p-1 border border-1 rounded-1 d-flex align-items-center"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                <i class="bi bi-pencil-square bg-light btn btn-sm mb-2 text-muted"></i>
                                <i class="bi bi-trash bg-light btn btn-sm text-muted"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-11">
                            <div class="row mt-2">
                                <div class="col-12 col-md-3 ps-0 pe-1">
                                    <div
                                        class="bg-primary bg-gradient bg-opacity-10 p-2 rounded-1 align-items-center justify-content-center d-flex h-25">
                                        <b class="me-3">Destrezas con criterios de desempeño</b>
                                        <i class="bi bi-info-circle fs-5 text-primary"></i>
                                    </div>
                                    <div class="border border-2 rounded-1 border-light p-3 d-flex flex-column justify-content-center "
                                        style="min-height: 215px;">
                                        <p>Reconocer y diferenciar triangulos sus elementos
                                            a partir del analisis de sis caracteristicas, y
                                            determinar el Perimetro por estimacion y/o medicion <b>M.2.2.6</b>
                                        </p>
                                        <div class="d-flex gap-2">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c1.png"
                                                alt="" width="25">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c2.png"
                                                alt="" width="25">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 ps-0 pe-1">
                                    <div
                                        class="bg-primary bg-gradient bg-opacity-10 p-2 rounded-1 align-items-center justify-content-center d-flex h-25">
                                        <b class="me-3">Indicadores de evaluación</b>
                                        <i class="bi bi-info-circle fs-5 text-primary"></i>
                                    </div>
                                    <div class="border border-2 rounded-1 border-light p-3  d-flex flex-column justify-content-center"
                                        style="min-height: 215px;">
                                        <p>Identifica elementos básicos de la Geometría en cuerpos
                                            y figuras geométricas <b>(l.2., S.2.)</b>
                                        </p>
                                        <div class="d-flex gap-2">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c1.png"
                                                alt="" width="25">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c2.png"
                                                alt="" width="25">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c3.png"
                                                alt="" width="25">
                                            <img src="https://ivistorage.blob.core.windows.net/file-container/c4.png"
                                                alt="" width="25">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 ps-0 pe-1">
                                    <div
                                        class="bg-primary bg-gradient bg-opacity-10 p-3  ps-4 pe-4 rounded-1 align-items-center justify-content-center d-flex h-25">
                                        <b class="me-3">Estrategias metodológicas activas para la enseñanza y
                                            aprendizaje</b>
                                        <i class="bi bi-info-circle fs-5 text-primary"></i>
                                    </div>
                                    <div class="border border-3 rounded-1 border-light p-3  d-flex flex-column justify-content-center"
                                        style="min-height: 215px;">
                                        <b>Construcción</b>
                                        <p>Plantear otros ejemplos y responder preguntas para descubrir
                                            el patrón que forma cada secuencia.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 ps-0 pe-1">
                                    <div class="bg-primary bg-gradient bg-opacity-10 p-3  ps-4 pe-4 rounded-1 align-items-center justify-content-center d-flex "
                                        style="min-height: 100px;">
                                        <b class="me-3">Estrategias metodológicas activas para la enseñanza y
                                            aprendizaje</b>
                                        <i class="bi bi-info-circle fs-5 text-primary"></i>
                                    </div>
                                    <div
                                        class="border border-3 rounded-1 border-light p-3  d-flex flex-column justify-content-center">
                                        <div>
                                            <b>Técnica Observación/ Rúbrica</b>
                                            <p>La presentación de la parte de Matemática tiene un promedio de 10,00 pt
                                            </p>
                                        </div>
                                        <div class="d-flex flex-column ">
                                            <div class="d-flex mb-1">
                                                <i class="bi bi-file-earmark bg-primary text-white p-1 rounded-1 "></i>
                                                <span
                                                    class="bg-light flex-fill d-flex align-items-center ms-1 text-primary">
                                                    Archivo adjun...</span>
                                                <i
                                                    class="bi bi-download p-1 border border-1 rounded-1 d-flex align-items-center"></i>
                                            </div>
                                            <div class="d-flex">
                                                <i class="bi bi-file-earmark bg-primary text-white p-1 rounded-1 "></i>
                                                <span
                                                    class="bg-light flex-fill d-flex align-items-center ms-1 text-primary">
                                                    Archivo adjun...</span>
                                                <i
                                                    class="bi bi-download p-1 border border-1 rounded-1 d-flex align-items-center"></i>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                                <i class="bi bi-pencil-square bg-light btn btn-sm mb-2 text-muted"></i>
                                <i class="bi bi-trash bg-light btn btn-sm text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 ">
                    <button type="button" class="btn btn-outline-primary small-text rounded-1" data-bs-toggle="modal"
                        href="#exampleModalToggle" role="button"><i class="bi bi-plus"></i>Añadir
                        nuevo</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MODAL -->

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content" style="min-height: 80vh;">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-white" id="exampleModalToggleLabel" style="font-size: medium;">Estudiante
                    con necesidades educativas
                    específicas
                    (NEE)</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body text-secondary " style="font-size: small;">
                <div class=" ">
                    <ul class="nav nav-pills " id="myTab" role="tablist">
                        <li class="nav-item " role="presentation">
                            <button class="nav-link active px-4 border rounded-0 rounded-top nav-link"
                                id="estudiante-tab" data-bs-toggle="tab" data-bs-target="#estudiante" type="button"
                                role="tab" aria-controls="estudiante" aria-selected="true">Estudiantes con NEE</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link px-4  border rounded-0 rounded-top nav-link" id="destrezas-tab"
                                data-bs-toggle="tab" data-bs-target="#destrezas" type="button" role="tab"
                                aria-controls="destrezas" aria-selected="false">Destrezas</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link px-4 border rounded-0 rounded-top nav-link" disabled
                                id="indicadores-tab" data-bs-toggle="tab" data-bs-target="#indicadores" type="button"
                                role="tab" aria-controls="indicadores" aria-selected="false">Indicadores</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link px-4 border rounded-0 rounded-top nav-link" id="estrategias-tab"
                                data-bs-toggle="tab" data-bs-target="#estrategias" type="button" role="tab"
                                aria-controls="estrategias" aria-selected="false">Estrategias</button>
                        </li>
                        <li class="nav-item " role="presentation">
                            <button class="nav-link px-4 border rounded-0 rounded-top nav-link" disabled
                                id="actividades-tab" data-bs-toggle="tab" data-bs-target="#actividades" type="button"
                                role="tab" aria-controls="actividades" aria-selected="false">Actividades</button>
                        </li>
                    </ul>
                </div>
                <hr class="m-0">

                <div class="">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="estudiante" role="tabpanel"
                            aria-labelledby="estudiante-tab">
                            <div class="mt-3">
                                <div>
                                    <b>Estudiantes con necesidades educativas especificas</b>
                                    <select class="form-select mt-2" style="font-size: 12px;"
                                        aria-label="Default select example" [(ngModel)]="selectStudent"
                                        name="idestudiante">
                                        <option value="" disabled selected hidden>Seleccione a un estudiante en la
                                            lista...
                                        </option>
                                        <option *ngFor="let estudiante of estudiantes" [ngValue]="estudiante">
                                            {{estudiante.nombreestudiante}} </option>
                                    </select>
                                </div>
                                <div class="mt-2" *ngIf="selectStudent">
                                    <div class="d-flex gap-2 form-control form-control-sm px-3 py-2 font-size-color ">
                                        <b>Especificación de la NEE: </b> <span
                                            *ngFor="let discapacidad of selectStudent?.discapacidades">{{discapacidad.nombrediscapacidad}},
                                        </span>
                                    </div>
                                    <div class="form-control form-control-sm px-3 py-2 font-size-color ">
                                        <b>Grado de adaptación: </b> <span>{{selectStudent.gradoadaptacioncurricular1}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="destrezas" role="tabpanel" aria-labelledby="destrezas-tab">
                            <div class="d-flex p-3 pb-2 my-2 gap-3 bg-light rounded">
                                <div class="flex-fill ">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control form-control-sm"
                                            aria-label="Text input with dropdown button"
                                            placeholder="Selección a una destreza para agregarla a la lista...">
                                        <button class="btn btn-outline-secondary rounded-end  border-1" type="button"
                                            data-bs-toggle="dropdown" aria-expanded="false"><i
                                                class="bi bi-chevron-expand"></i></button>
                                        <ul class="dropdown-menu dropdown-menu-end w-100">
                                            <li class="px-2"><a>
                                                    <div class="input-group mb-3">
                                                        <input type="text" class="form-control" placeholder="Username"
                                                            aria-label="Username" aria-describedby="basic-addon1"
                                                            [(ngModel)]="filterPost">
                                                        <span class="input-group-text" id="basic-addon1"><i
                                                                class="bi bi-search"></i></span>
                                                    </div>
                                                </a>
                                            </li>
                                            <li><a class="dropdown-item text-wrap" role='button'
                                                    *ngFor="let des of destreza | filter:filterPost"
                                                    (click)="addDestreza(des)">{{des.descripcion}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" class="btn btn-primary small-text"
                                        (click)="addDestrezaClean()" role="button"><i class="bi bi-plus"></i> Añadir
                                        nuevo
                                    </button>
                                </div>
                            </div>
                            <div>
                                <span class="ms-2">{{selectDestreza?.length}} destreza en total</span>
                                <div *ngFor="let item of selectDestreza; let i = index">
                                    <div class="bg-light rounded mt-2 p-3 ">
                                        <div class="d-flex gap-2">
                                            <input type="text" class="form-control font-size-color"
                                                [value]="item.descripcion" id="input-{{i}}" disabled>
                                            <div class="d-flex gap-1 align-items-center justify-content-center">
                                                <div *ngIf="!isEdit[i];else isEditt">
                                                    <i class="bi bi-pencil-square border btn btn-sm mb-2 text-muted m-0"
                                                        (click)="editDestreza(i)"
                                                        style="margin-bottom: 0px !important;"></i>

                                                </div>
                                                <ng-template #isEditt>
                                                    <button type="button" class="btn btn-primary btn-sm"
                                                        (click)="editDestreza(i)">Modificar</button>

                                                </ng-template>
                                                <i class="bi bi-trash btn btn-sm border mb-2 text-muted m-0"
                                                    style="margin-bottom: 0px !important;"
                                                    (click)="deleteDestreza(i)"></i>
                                            </div>
                                        </div>
                                        <div class="mt-2">
                                            <div>
                                                <b> Seleccione la/s competencias </b>
                                            </div>
                                            <div class="d-flex gap-4">
                                                <div *ngFor="let items of item.competencias; let j = index">
                                                    <div
                                                        class="d-flex gap-2 align-items-center justify-content-center ">
                                                        <label class="form-check-label" for="{{'ico-'+i+'-'+j}}"
                                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="{{items.descripcioncompetencia}}">
                                                            <img [src]="items.imagencompetencia" alt="" width="30">
                                                        </label>
                                                        <input class="form-check-input" type="checkbox"
                                                            data-bs-toggle="tooltip" data-bs-placement="top"
                                                            title="{{items.descripcioncompetencia}}"
                                                            [(ngModel)]="items.checked" id="{{'ico-'+i+'-'+j}}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="indicadores" role="tabpanel" aria-labelledby="indicadores-tab">
                            ...
                        </div>
                        <div class="tab-pane fade" id="estrategias" role="tabpanel" aria-labelledby="estrategias-tab">
                            <div class="mt-3">
                                <b>Estrategias metodológicas activas para la enseñanza y aprendizaje</b>
                            </div>
                            <div *ngIf="aprendizaje">
                                <div class="bg-light p-3 rounded-2 card mt-3"
                                    *ngFor="let item of aprendizaje.estrategias; let i = index">
                                    <div class="d-flex gap-2 mb-3">
                                        <div class="flex-grow-1">
                                            <input type="text" class="form-control small-text rounded-1"
                                                [value]="item.descripcionestrategia" disabled
                                                id="input-estrategia-{{i}}">
                                        </div>
                                        <div class="d-flex gap-1">
                                            <div *ngIf="!item.editable;else destreza">
                                                <i class="bi bi-pencil-square border btn btn-sm mb-2 text-muted m-0"
                                                    style="margin: 0px !important;" (click)="editEstrategia(i)"></i>
                                            </div>
                                            <ng-template #destreza>
                                                <button type="button" class="btn btn-primary btn-sm"
                                                    (click)="editEstrategia(i)">Modificar</button>

                                            </ng-template>
                                            <i class="bi bi-trash btn btn-sm border mb-2 text-muted m-0"
                                                style="margin: 0px !important;" (click)="deleteEstrategia(i)"></i>
                                        </div>
                                    </div>
                                    <hr class="m-0">
                                    <div class="bg-white rounded-2 p-3 mt-3"
                                        *ngFor="let actividad of item.estrategiaActividades ; let j = index">
                                        <div
                                            class="d-flex align-items-stretch gap-2 align-items-center justify-content-center">
                                            <div class="w-100  d-flex flex-column">
                                                <div>
                                                    <input type="text" class="form-control rounded-1 small-text"
                                                        id="input-actividad-{{i}}-{{j}}" disabled
                                                        [value]="actividad.descripcionestrategiasactividades">
                                                </div>
                                                <div *ngIf="!actividad.editable;else elseActividad2">
                                                    <div class="mt-3">
                                                        <div *ngFor="let documento of actividad.documentos">
                                                            <div class="row ">
                                                                <div class="col-12">
                                                                    <div class="d-flex mb-1">
                                                                        <i
                                                                            class="bi bi-file-earmark bg-primary text-white p-1 rounded-1 "></i>
                                                                        <span
                                                                            class="bg-light flex-fill d-flex align-items-center w-100 ps-1 font-size-color ">
                                                                            {{documento.urldocumento}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="">
                                                        <div *ngFor="let enlace of actividad.enlaces">
                                                            <div class="row ">
                                                                <div class="col-12">
                                                                    <div class="d-flex mb-1">
                                                                        <i
                                                                            class="bi bi-link-45deg bg-primary text-white p-1 rounded-1 "></i>
                                                                        <span
                                                                            class="bg-light flex-fill d-flex align-items-center ps-1 w-100 font-size-color ">
                                                                            {{enlace.urlenlace}}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <ng-template #elseActividad2>
                                                    <div class="mt-2">
                                                        <div
                                                            *ngFor="let documento of actividad.documentos  ; let k = index">
                                                            <div class=" row ">
                                                                <div class=" col-12">
                                                                    <div class="d-flex mb-1">
                                                                        <div class="d-flex bg-light">
                                                                            <div class="d-flex w-100">
                                                                                <i
                                                                                    class="bi bi-file-earmark bg-primary text-white p-1 rounded-1 "></i>
                                                                                <span
                                                                                    class=" flex-fill d-flex align-items-center w-100 ps-1 font-size-color ">
                                                                                    {{documento.urldocumento}}</span>
                                                                            </div>
                                                                            <div><a><i class="bi bi-x"
                                                                                        (click)="deleteFile(i,j,k)"></i></a>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="group-photo mt-2">
                                                            <div class="custom-input-file container-photo">
                                                                <div class="img-profile">
                                                                </div>
                                                                <div
                                                                    class="d-flex flex-column justify-content-center align-items-center mt-2">
                                                                    <i
                                                                        class="bi bi-upload text-warning group-photo"></i>
                                                                    <span class="text-warning group-photo">Subir
                                                                        archivo</span>
                                                                </div>
                                                                <input type="file" id="file"
                                                                    class="input-file input-img" accept=".jpg,.png"
                                                                    multiple (change)="loadInput($event, i,j)" />
                                                                <input type="hidden" name="fileHidden" />
                                                            </div>
                                                        </div>
                                                        <div class="mt-2">
                                                            <div
                                                                *ngFor="let enlace of actividad.enlaces ; let k = index">
                                                                <div class="row ">
                                                                    <div class="col-12">
                                                                        <div class="d-flex bg-light">
                                                                            <div class="d-flex w-100 mb-1">
                                                                                <i
                                                                                    class="bi bi-link-45deg bg-primary text-white p-1 rounded-1 "></i>
                                                                                <span
                                                                                    class=" flex-fill d-flex align-items-center ps-1 w-100 font-size-color ">
                                                                                    {{enlace.urlenlace}}</span>
                                                                            </div>
                                                                            <div><a><i class="bi bi-x"
                                                                                        (click)="deleteEnlace(i,j,k)"></i></a>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="input-group mb-3 mt-3">
                                                            <input type="text" class="form-control form-control-sm"
                                                                id="enlace-{{i}}-{{j}}">
                                                            <button class="input-group-text btn btn-primary small-text"
                                                                (click)="addEnlace(i,j)">Agregar</button>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </div>
                                            <div class="">
                                                <div class="d-flex gap-1 align-top ">
                                                    <div *ngIf="!actividad.editable;else elseActividad">
                                                        <i class="bi bi-pencil-square border btn btn-sm  text-muted m-0 "
                                                            style="font-size: x-small;"
                                                            (click)="editActividad(i, j)"></i>
                                                    </div>
                                                    <ng-template #elseActividad>
                                                        <button type="button" class="btn btn-primary btn-sm small-text"
                                                            (click)="editActividad(i, j)">Modificar</button>

                                                    </ng-template>
                                                    <i class="bi bi-trash btn btn-sm border  text-muted m-0 small-text"
                                                        style="font-size: x-small;" (click)="deleteActividad(i, j)"></i>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="mt-3">
                                        <button type="button" class="btn btn-primary small-text rounded-1" role="button"
                                            (click)="addActividad(i)"><i class="bi bi-plus"></i>
                                            Agregar actividad
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex flex-column mt-3">
                                <button class="btn btn-outline-primary w-100 mt-3 rounded-1 small-text"
                                    (click)="addEstrategia()">
                                    <i class="bi bi-plus"> </i>Añadir
                                    estrategia</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="actividades" role="tabpanel" aria-labelledby="actividades-tab">
                            LOL
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2"
                    data-bs-toggle="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>